<footer>
    <a href="/"><img src="/img/logo.jpg" class="logo img-rounded" alt="安心上路"></a>
    <div style="margin-left: 6px">
        <a target="_blank" href="http://zh.m.wikipedia.org/wiki/Copyleft">
            <img src="/img/Copyleft.svg" class="copyleft" alt="">
        </a>
        CCSP 2014<br>
        Citizens on The Road.
    </div>
</footer>

<script type="text/javascript" src="/js/login.js"></script>
</body>
</html>
