<% include _header %>
<div id="body" class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <img class="photo img-responsive img-circle" src="/img/Bill.jpg"><br>
            <h2><a href="https://github.com/bill8124">Bill Jian</a></h2>
            三轉後成為憤青的神人，<br>
            本質是個初音控但也關心社會事務，<br>
            是團隊裡面不可或缺的靈魂人物。<br>
            <br><br>
        </div>
        <div class="col-sm-4">
            <img class="photo img-responsive img-circle" src="/img/Natasha.jpg"><br>
            <h2><a href="https://github.com/NatashaPan">Natasha Pan</a></h2>
            三轉後成為卷姊的女孩，<br>
            喜歡美食以及毛茸茸的東西，<br>
            志願是成為超越彭淮南的存在。<br>
            <br><br>
        </div>
        <div class="col-sm-4">
            <img class="photo img-responsive img-circle" src="/img/Mitch.jpg"><br>
            <h2><a href="https://github.com/MitchTseng">Mitch Tseng</a></h2>
            三轉後成為魯蛇的男人，<br>
            志向是機器視覺跟人工智慧，<br>
            但Code打著打著就進了機械所。<br>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <a class="btn btn-primary" href="https://github.com/bill8124/CCSP-Project">GitHub Repository</a>
        </div>
    </div>
</div>
<br>
<% include _footer %>
