<% include _header %>
<div id="body" class="container-fluid">
    <p>Ming-Yuan Jian</p>
    <p>Natasha Pan</p>
    <p>Mitch Tseng</p>
    <div class="row">
        <div class="col-sm-12">
            <a class="btn btn-primary" href="https://github.com/bill8124/CCSP-Project">GitHub Repository</a>
        </div>
    </div>
</div>
<br>
<% include _footer %>
