<% include _header %>
    <form>
            
            <input name='file' type="file" accept="image/*,video/*">
             <!-- cute but only works in some browsers-->
            <img style="width:100%;">
            <br>    
            <div id="send">
                <button type="button" class="btn btn-primary btn-block" data-loading-text="上傳中..." id="upload">確認送出</a>
            </div><br>      
    </form>

<script src="js/imgupload.js"></script>
<% include _footer %>
