<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <style>
        form>img
        {
            border: 3px solid blue;
            min-width: 100px;
            min-height: 100px;
            display: block;
        }
    </style>
</head>
<body>
    <form>
            
            <input name='file' type="file" accept="image/*" />
             <!-- cute but only works in some browsers-->
            <img>
            <br>    
            <div id="send">
                <a class="form-control btn-success" href="/imgsend">確認送出</a>
            </div>      
    </form>


<script src="js/imgupload.js"></script>