<% include _header %>
<div id="body" class="container-fluid" style="position: absolute">
    <div class="function-row">
        <a href="/driverRecords" style="margin-right: 10px">
            <img class="function" src="img/badDriverVideos.png" alt="影片資料庫">
        </a>
        <a href="/tips">
            <img class="function" src="img/tips.png" alt="檢舉撇步、Q &amp; A">
        </a>
    </div>
    <div class="function-row" style="top: -30px; z-index: 1">
        <a href="/report">
            <img class="function" src="img/report.png" alt="我要檢舉！">
        </a>
    </div>
    <div class="function-row" style="top: -90px">
        <a href="/trafficLaws" style="margin-right: 74px">
            <img class="function" src="img/trafficLaws.png" alt="交通法規">
        </a>
        <a href="/userRecords">
            <img class="function" src="img/driverRecord.png" alt="管理案件">
        </a>
    </div>
    <div class="function-row" style="top: -120px">
        <a href="/contactUs">
            <img class="function" src="img/contactUs.png" alt="聯絡我們">
        </a>
    </div>
</div>
<div id="space" style="height: 260px"></div>
<% include _footer %>
