<% include _header %>
<div class="container-fluid">
<div style="display: inline-block; margin-top: -50px">
    <div class="hex-row">
        <div class="hex" style="opacity: 0">
            <div class="left"></div>
            <div class="middle"></div>
            <div class="right"></div>
        </div>
        <a class="hex even" href="/driverRecords">
            <div class="left"></div>
            <img class="function" src="img/badDriverVideos.png" alt="影片資料庫">
            <div class="right"></div>
        </a>
        <div class="hex" style="opacity: 0">
            <div class="left"></div>
            <div class="middle"></div>
            <div class="right"></div>
        </div>
    </div>
    <div class="hex-row">
        <a class="hex" href="/tips">
            <div class="left"></div>
            <img class="function" src="img/tips.png" alt="檢舉撇步、Q &amp; A">
            <div class="right"></div>
        </a>
        <a class="hex even" href="/report">
            <div class="left"></div>
            <img class="function" src="img/report.png" alt="我要檢舉！">
            <div class="right"></div>
        </a>
        <a class="hex" href="/userRecords">
            <div class="left"></div>
            <img class="function" src="img/driverRecord.png" alt="管理案件">
            <div class="right"></div>
        </a>
    </div>
    <div class="hex-row">
        <a class="hex" href="/trafficLaws">
            <div class="left"></div>
            <img class="function" src="img/trafficLaws.png" alt="交通法規">
            <div class="right"></div>
        </a>
        <a class="hex even" href="/contactUs">
            <div class="left"></div>
            <img class="function" src="img/contactUs.png" alt="聯絡我們">
            <div class="right"></div>
        </a>
        <a class="hex" href="/userInfo">
            <div class="left"></div>
            <img class="function" src="img/userInfo.png" alt="管理案件">
            <div class="right"></div>
        </a>
    </div>
</div>
</div>
<div id="space" style="height: 60px"></div>
<% include _footer %>
