<div id="body" class="container-fluid">
    <form action="/driverRecord" method="post" onsubmit="return validateForm()">
        <div class="form-group">
            <select class="form-control" name="country">
                <option value="請選擇縣市">請選擇縣市</option>
                <option value="台北市">台北市</option>
                <option value="新北市">新北市</option>
                <option value="台中市">台中市</option>
                <option value="台南市">台南市</option>
                <option value="高雄市">高雄市</option>
                <option value="基隆市">基隆市</option>
                <option value="新竹市">新竹市</option>
                <option value="嘉義市">嘉義市</option>
                <option value="桃園縣">桃園縣</option>
                <option value="新竹縣">新竹縣</option>
                <option value="苗栗縣">苗栗縣</option>
                <option value="彰化縣">彰化縣</option>
                <option value="南投縣">南投縣</option>
                <option value="雲林縣">雲林縣</option>
                <option value="嘉義縣">嘉義縣</option>
                <option value="屏東縣">屏東縣</option>
                <option value="宜蘭縣">宜蘭縣</option>
                <option value="花蓮縣">花蓮縣</option>
                <option value="台東縣">台東縣</option>
                <option value="金門縣">金門縣</option>
                <option value="澎湖縣">澎湖縣</option>
                <option value="連江縣">連江縣</option>
                <option value="國道">國道</option>
            </select>
        </div>
        <div id="reportInfo" style="display: none">
            <div class="form-group">
                <label>詳細地點（區域、路段）</label>
                <input class="form-control" type="text" name="location" placeholder="詳細地點（區域、路段）">
            </div>
            <div class="form-group">
                <label>車牌</label>
                <input class="form-control" type="text" name="carNum" placeholder="車牌">
            </div>
            <div class="form-group">
                <label>發生日期</label>
                <input class="form-control" type="date" name="date" placeholder="發生日期">
            </div>
            <div class="form-group">
                <label>發生時間</label>
                <input class="form-control" type="time" name="time" placeholder="發生時間">
                <!-- a id="now" class="btn btn-info btn-block">現在</a -->
            </div>
            <div class="form-group">
                <label>佐證影片或照片</label>
                <input class="form-control" type="url" name="url" placeholder="影片或照片網址">
            </div>
            <div class="form-group">
                <label>情況簡述</label>
                <textarea class="form-control" name="condition" placeholder="情況簡述"></textarea>
            </div>
            <div class="form-group">
                <input class="form-control btn-success" type="submit" value="確認送出">
            </div>
        </div>
    </form>
    <div id="information">
    </div>
    <!-- div class="row">
    <div class="col-xs-12">
        <a id="fileGen" class="btn btn-default" href="/driverRecord">生成檢舉檔案</a>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button id="emailGen" class="btn btn-default">生成 Email</a>
        </div>
    </div>
    <div id="mail" class="row">
    </div -->
</div>
<script type="text/javascript" src="js/baddriver.js"></script>
<script type="text/javascript" src="js/filltable.js"></script>
