<% include _header %>
<div id="body" class="container-fluid">
    <div>
		<br>【恭喜你完成一筆檢舉，請記得到email信箱收<b>"確認信"</b>，以確保檢舉成功】<br><br>
		<a class="btn btn-success" href="/driverRecords/<%= recordid %>">檢視案件</a><br><br>
		安心上路還有許多實用的功能:<br>
		達人提供的<a class="btn btn-default" href="/tips">檢舉撇步</a> &nbsp;<br>管理您檢舉過的所有 <a class="btn btn-default" href="/userRecords">案件紀錄</a> &nbsp; <br>另外還有<a class="btn btn-default" href="/trafficLaws">違規罰鍰金額查詢</a><br>
		快來體驗看看吧!<br>
	</div>
	
</div>
<% include _footer %>
