<!-- 這裡提供交通法令的原文與重點標記，以及搜尋功能 -->
<div class="container-fluid">
    <table class="table table-striped">
        <tr><th>駕駛人，行經有燈光號誌管制之交岔路口闖紅燈者。</th></tr>
        <tr><td>第五十三條<p class="text-danger">1800~5400</p></td></tr>
        <tr><th>在交岔路口、公共汽車招呼站十公尺內或消防車出、入口五公尺內臨時停車者。</th></tr>
        <tr><td>第五十五條第二款<p class="text-danger">300~600</p></td></tr>
        <tr><th>在設有禁止臨時停車標誌、標線處所臨時停車者。</th></tr>
        <tr><td>第五十五條第三款<p class="text-danger">300~600</p></td></tr>
        <tr><th>不依順行之方向，或不緊靠道路右側，或單行道不緊靠路邊臨時停車者。</th></tr>
        <tr><td>第五十五條第四款<p class="text-danger">300~600</p></td></tr>
        <tr><th>併排臨時停車者。</th></tr>
        <tr><td>第五十五條第四款<p class="text-danger">500~600</p></td></tr>
        <tr><th>在設有禁止停車標誌、標線之處所停車者。</th></tr>
        <tr><td>第五十六條第一項第四款<p class="text-danger">600~1200</p></td></tr>
        <tr><th>在前行車之右側超車，或超車時未保持適當之間隔，或未行至安全距離即行駛入原行路線者。</th></tr>
        <tr><td>第四十七條第三款<p class="text-danger">1200~2400</p></td></tr>
        <tr><th>在轉彎或變換車道前，未使用方向燈或不注意來、往行人或轉彎前未減速慢行者。</th></tr>
        <tr><td>第四十八條第一款<p class="text-danger">900~1800</p></td></tr>
        <tr><th>不按遵行之方向行駛者。</th></tr>
        <tr><td>第四十五條第一款<p class="text-danger">900~1800</p></td></tr>
        <tr><th>在多車道右轉彎，不先駛入外側車道，或多車道左轉彎，不先駛入內側車道者。</th></tr>
        <tr><td>第四十八條第四款<p class="text-danger">600~1800</p></td></tr>
        <tr><th>在無看守人員管理或無遮斷器、警鈴及閃光號誌設備之鐵路平交道，設有警告標誌或跳動路面，不依規定暫停，逕行通過者。</th></tr>
        <tr><td>第五十四條第二款<p class="text-danger">6000~12000</p></td></tr>
    </table>
    <table class="table table-striped">
        <tr><th class="info">交通違規行為</th></tr>
        <tr><td class="danger">法條依據（道路交通管理處罰條例）<p class="text-danger">法定罰鍰額度（新臺幣：元）或其他處罰</p></td></tr>
        <tr><th>未領用牌照行駛者。</th></tr>
        <tr><td>第十二條第一項第一款<p class="text-danger">3600~7200</p></td></tr>
        <tr><th>拼裝車輛，未經核准領用牌照行駛者。</th></tr>
        <tr><td>第十二條第一項第二款<p class="text-danger">3600~7200</p></td></tr>
        <tr><th>使用偽造、變造或矇領之牌照者。</th></tr>
        <tr><td>第十二條第一項第三款<p class="text-danger">3600~7200</p></td></tr>
        <tr><th>使用註銷之牌照行駛者。</th></tr>
        <tr><td>第十二條第一項第四款<p class="text-danger">3600~7200</p></td></tr>
        <tr><th>牌照借供他車使用或使用他車牌照行駛者。</th></tr>
        <tr><td>第十二條第一項第五款<p class="text-danger">3600~7200</p></td></tr>
        <tr><th>牌照吊扣期間行駛者。</th></tr>
        <tr><td>第十二條第一項第六款<p class="text-danger">3600~7200</p></td></tr>
        <tr><th>已領有號牌而未懸掛或不依指定位置懸掛者。</th></tr>
        <tr><td>第十二條第一項第七款<p class="text-danger">3600~7200</p></td></tr>
        <tr><th>使用吊銷之牌照行駛者。</th></tr>
        <tr><td>第十二條第一項第八款<p class="text-danger">3600~7200</p></td></tr>
        <tr><th>牌照業經繳銷、報停、吊銷仍行駛者。</th></tr>
        <tr><td>第十二條第一項第九款<p class="text-danger">3600~7200</p></td></tr>
        <tr><th>報廢登記之汽車仍行駛者。</th></tr>
        <tr><td>第十二條第一項第十款<p class="text-danger">3600~7200</p></td></tr>
        <tr><th>損毀或變造汽車牌照、塗抹污損牌照，或以安裝其他器具之方式，使不能辨認其牌號者。</th></tr>
        <tr><td>第十三條第一款<p class="text-danger">2400~4800</p></td></tr>
        <tr><th>塗改客、貨車身標明之載客人數、載重量、總重量或總聯結重量，與原核定數量不符者。</th></tr>
        <tr><td>第十三條第二款<p class="text-danger">2400~4800</p></td></tr>
        <tr><th>引擎號碼或車身號碼，與原登記位置或模型不符者。</th></tr>
        <tr><td>第十三條第三款<p class="text-danger">2400~4800</p></td></tr>
        <tr><th>牌照遺失或破損，不報請公路主管機關補發、換發或重新申請者。</th></tr>
        <tr><td>第十四條第一款<p class="text-danger">300~600</p></td></tr>
        <tr><th>行車執照、拖車使用證或預備引擎使用證，未隨車攜帶者。</th></tr>
        <tr><td>第十四條第二款<p class="text-danger">300~600</p></td></tr>
        <tr><th>號牌污穢，不洗刷清楚或為他物遮蔽，非行車途中因遇雨，雪道路泥濘所致者。</th></tr>
        <tr><td>第十四條第三款<p class="text-danger">300~600</p></td></tr>
        <tr><th>經通知而不依規定期限換領號牌，又未申請延期，仍使用者。</th></tr>
        <tr><td>第十五條第一項第一款<p class="text-danger">900~1800</p></td></tr>
        <tr><th>領用試車或臨時牌照，期滿未繳還者。</th></tr>
        <tr><td>第十五條第一項第二款<p class="text-danger">900~1800</p></td></tr>
        <tr><th>領用試車或臨時牌照，載運客貨，收費營業者。</th></tr>
        <tr><td>第十五條第一項第三款<p class="text-danger">900~1800</p></td></tr>
        <tr><th>領用試車車牌照，不在指定路線或區域內試車者。</th></tr>
        <tr><td>第十五條第一項第四款<p class="text-danger">900~1800</p></td></tr>
        <tr><th>行車執照及拖車使用證有效期屆滿，不依規定換領而行駛者。</th></tr>
        <tr><td>第十五條第一項第五款<p class="text-danger">900~1800</p></td></tr>
        <tr><th>各項異動，不依規定申報登記者。</th></tr>
        <tr><td>第十六條第一項第一款<p class="text-danger">900~1800</p></td></tr>
        <tr><th>燈光、雨刮、喇叭、照後鏡、排氣管、消音器或其他設備不全，或擅自增、減、變更原有規格之設備，或損壞不予修復者。</th></tr>
        <tr><td>第十六條第一項第二款<p class="text-danger">900~1800</p></td></tr>
        <tr><th>未依規定於車身標明指定標識者。</th></tr>
        <tr><td>第十六條第一項第三款<p class="text-danger">900~1800</p></td></tr>
        <tr><th>營業小客車，未依規定裝置自動計費器、車頂燈、執業登記證插座或在前、後兩邊玻璃門上，黏貼不透明反光紙者。</th></tr>
        <tr><td>第十六條第一項第四款<p class="text-danger">900~1800</p></td></tr>
        <tr><th>裝置高音量喇叭或其他產生噪音器物者。</th></tr>
        <tr><td>第十六條第一項第五款<p class="text-danger">1800</p></td></tr>
        <tr><th>不依限期參加定期檢驗或臨時檢驗者。</th></tr>
        <tr><td>第十七條第一項<p class="text-danger">900~1800</p></td></tr>
        <tr><th>汽車車身、引擎、底盤等重要設備變更或調換，或因交通事故遭受重大損壞修復後，不申請公路主管機關施行臨時檢驗而行駛者。</th></tr>
        <tr><td>第十八條<p class="text-danger">1800~3600</p></td></tr>
        <tr><th>汽車未依規定裝設行車紀錄器者。</th></tr>
        <tr><td>第十八條之一第一項<p class="text-danger">12000~24000</p></td></tr>
        <tr><th>汽車裝設之行車紀錄器無法正常運作，未於行車前改善，仍繼續行車者。</th></tr>
        <tr><td>第十八條之一第二項<p class="text-danger">9000~18000</p></td></tr>
        <tr><th>未依規定保存行車紀錄卡或未依規定使用、不當使用行車紀錄器致無法正確記錄資料者。</th></tr>
        <tr><td>第十八條之一第三項<p class="text-danger">9000~12000</p></td></tr>
        <tr><th>汽車煞車，未調整完妥靈活有效，或方向盤未保持穩定準確，仍准駕駛人使用者。</th></tr>
        <tr><td>第十九條<p class="text-danger">1800~3600</p></td></tr>
        <tr><th>汽車引擎、底盤、電系、車門損壞，行駛時顯有危險而不即行停駛修復者。</th></tr>
        <tr><td>第二十條<p class="text-danger">1800~3600</p></td></tr>
        <tr><th>未領有駕駛執照駕車者（除駕駛聯結車、大客車或大貨車者外）。</th></tr>
        <tr><td>第二十一條第一項第一款<p class="text-danger">6000~12000</p></td></tr>
        <tr><th>持機器腳踏車駕駛執照，駕駛小型車者。</th></tr>
        <tr><td>第二十一條第一項第二款<p class="text-danger">6000~12000</p></td></tr>
        <tr><th>持小型車駕駛執照，駕駛聯結車、大客車或大貨車者。</th></tr>
        <tr><td>第二十一條第一項第三款<p class="text-danger">依第2十1條之1第1項第3款規定舉發。</p></td></tr>
        <tr><th>持大貨車駕駛執照，駕駛大客車、聯結車或持大客車駕駛執照，駕駛聯結車者。</th></tr>
        <tr><td>第二十一條第一項第四款<p class="text-danger">依第2十1條之1第1項第4款規定舉發。</p></td></tr>
        <tr><th>使用偽造、變造或矇領之駕駛執照駕駛小型車或機器腳踏車者。</th></tr>
        <tr><td>第二十一條第一項第五款<p class="text-danger">6000~12000</p></td></tr>
        <tr><th>使用註銷之駕駛執照駕駛小型車或機器腳踏車者。</th></tr>
        <tr><td>第二十一條第一項第六款<p class="text-danger">6000~12000</p></td></tr>
        <tr><th>駕駛執照吊扣期間駕車者。</th></tr>
        <tr><td>第二十一條第一項第七款<p class="text-danger">6000~12000</p></td></tr>
        <tr><th>持學習駕駛證，而無領有駕駛執照之駕駛人在旁指導，在駕駛學習場外學習駕車者。</th></tr>
        <tr><td>第二十一條第一項第八款<p class="text-danger">6000~12000</p></td></tr>
        <tr><th>持學習駕駛證，在駕駛學習場外未經許可之學習駕駛道路或規定時間駕車者。</th></tr>
        <tr><td>第二十一條第一項第九款<p class="text-danger">6000~12000</p></td></tr>
        <tr><th>未領有駕駛執照，以教導他人學習駕車為業者。</th></tr>
        <tr><td>第二十一條第一項第十款<p class="text-danger">6000~12000</p></td></tr>
        <tr><th>未依駕駛執照之持照條件規定駕車者。</th></tr>
        <tr><td>第二十一條第一項第十一款<p class="text-danger">6000~12000</p></td></tr>
        <tr><th>未領有駕駛執照駕駛聯結車、大客車、大貨車其汽車所有人及駕駛人各處罰鍰。</th></tr>
        <tr><td>第二十一條之一第一項第一款<p class="text-danger">40000~80000</p></td></tr>
        <tr><th>領有機器腳踏車駕駛執照駕駛聯結車、大客車、大貨車其汽車所有人及駕駛人各處罰鍰。</th></tr>
        <tr><td>第二十一條之一第一項第二款<p class="text-danger">40000~80000</p></td></tr>
        <tr><th>領有小型車駕駛執照駕駛聯結車、大客車、大貨車其汽車所有人及駕駛人各處罰鍰。</th></tr>
        <tr><td>第二十一條之一第一項第三款<p class="text-danger">40000~80000</p></td></tr>
        <tr><th>領用大貨車駕駛執照，駕駛大客車、聯結車或領有大客車駕駛執照，駕駛聯結車其汽車所有人及駕駛人各處罰鍰。</th></tr>
        <tr><td>第二十一條之一第一項第四款<p class="text-danger">40000~80000</p></td></tr>
        <tr><th>使用註銷之駕駛執照駕駛聯結車、大客車、大貨車其汽車所有人及駕駛人各處罰鍰。</th></tr>
        <tr><td>第二十一條之一第一項第五款<p class="text-danger">40000~80000</p></td></tr>
        <tr><th>使用偽造、變造或矇領之駕駛執照駕駛聯結車、大客車、大貨車其汽車所有人及駕駛人各處罰鍰。</th></tr>
        <tr><td>第二十一條之一第一項第六款<p class="text-danger">40000~80000</p></td></tr>
        <tr><th>駕駛執照吊扣期間駕駛聯結車、大客車、大貨車其汽車所有人及駕駛人各處罰鍰。</th></tr>
        <tr><td>第二十一條之一第一項第七款<p class="text-danger">40000~80000</p></td></tr>
        <tr><th>持普通駕駛執照，駕駛營業汽車營業者。</th></tr>
        <tr><td>第二十二條第一項第一款<p class="text-danger">1800~3600</p></td></tr>
        <tr><th>持普通駕駛執照，以駕駛為職業者。</th></tr>
        <tr><td>第二十二條第一項第二款<p class="text-danger">1800~3600</p></td></tr>
        <tr><th>持軍用車駕駛執照，駕駛非軍用車者。</th></tr>
        <tr><td>第二十二條第一項第三款<p class="text-danger">1800~3600</p></td></tr>
        <tr><th>持聯結車、大客車、大貨車或小型車駕駛執照，駕駛重型機器腳踏車者。</th></tr>
        <tr><td>第二十二條第一項第四款<p class="text-danger">1800~3600</p></td></tr>
        <tr><th>持輕型機器腳踏車駕駛執照，駕駛重型機器腳踏車者。</th></tr>
        <tr><td>第二十二條第一項第五款<p class="text-danger">1800~3600</p></td></tr>
        <tr><th>持逾期之駕駛執照駕車者。</th></tr>
        <tr><td>第二十二條第一項第六款<p class="text-danger">1800~3600</p></td></tr>
        <tr><th>將駕駛執照借供他人駕車者。</th></tr>
        <tr><td>第二十三條第一款<p class="text-danger">吊扣其駕駛執照3個月</p></td></tr>
        <tr><th>允許無駕駛執照之人，駕駛其車輛者。</th></tr>
        <tr><td>第二十三條第二款<p class="text-danger">吊扣其駕駛執照3個月</p></td></tr>
        <tr><th>汽車駕駛人，無正當理由，不依規定接受道路交通安全講習者。</th></tr>
        <tr><td>第二十四條<p class="text-danger">1800</p></td></tr>
        <tr><th>姓名、出生年、月、日、住址，依法更改而不報請變更登記者。</th></tr>
        <tr><td>第二十五條第一款<p class="text-danger">300~600</p></td></tr>
        <tr><th>駕駛執照遺失或損毀，不報請公路主管機關補發或依限期申請換發者。</th></tr>
        <tr><td>第二十五條第二款<p class="text-danger">300~600</p></td></tr>
        <tr><th>駕駛車輛未隨身攜帶駕駛執照者。</th></tr>
        <tr><td>第二十五條第三款<p class="text-danger">300~600</p></td></tr>
        <tr><th>職業汽車駕駛人，不依規定期限，參加駕駛執照審驗者。</th></tr>
        <tr><td>第二十六條<p class="text-danger">300~600</p></td></tr>
        <tr><th>汽車行駛於應繳費之公路、橋樑、隧道或輪渡，不依規定繳費者。</th></tr>
        <tr><td>第二十七條第一項<p class="text-danger">3000~6000</p></td></tr>
        <tr><th>汽車所有人，僱用或聽任第二十一條第一款至第七款之人駕車者。</th></tr>
        <tr><td>第二十八條<p class="text-danger">6000~12000</p></td></tr>
        <tr><th>汽車裝載貨物超過規定之長度、寬度、高度者。</th></tr>
        <tr><td>第二十九條第一項第一款<p class="text-danger">3000~9000</p></td></tr>
        <tr><th>汽車裝載整體物品有超重、超長、超寬、超高，而未請領臨時通行證，或未懸掛危險標識者。</th></tr>
        <tr><td>第二十九條第一項第二款<p class="text-danger">3000~9000</p></td></tr>
        <tr><th>汽車裝載危險物品，未請領臨時通行證，或不遵守有關安全之規定者。</th></tr>
        <tr><td>第二十九條第一項第三款<p class="text-danger">3000~9000</p></td></tr>
        <tr><th>貨車或聯結車輛之裝載，不依規定者。</th></tr>
        <tr><td>第二十九條第一項第四款<p class="text-danger">3000~9000</p></td></tr>
        <tr><th>汽車牽引拖架或附掛拖車，不依規定者。</th></tr>
        <tr><td>第二十九條第一項第五款<p class="text-danger">3000~9000</p></td></tr>
        <tr><th>大貨車裝載貨櫃超出車身之外，或未依規定裝置聯鎖設備者。</th></tr>
        <tr><td>第二十九條第一項第六款<p class="text-danger">3000~9000</p></td></tr>
        <tr><th>汽車未經核准，附掛拖車行駛者。</th></tr>
        <tr><td>第二十九條第一項第七款<p class="text-danger">3000~9000</p></td></tr>
        <tr><th>裝載砂石、土方未依規定使用專用車輛或其專用車廂未合於規定或變更車廂者</th></tr>
        <tr><td>第二十九條之一第一項<p class="text-danger">40000~80000</p></td></tr>
        <tr><th>前項專用車廂未合於規定或變更車廂者，並處車廂打造或改裝業者。</th></tr>
        <tr><td>第二十九條之一第二項<p class="text-danger">40000~80000</p></td></tr>
        <tr><th>汽車裝載貨物超過核定之總重量、總聯結重量或超過所行駛橋樑規定之載重限制者。</th></tr>
        <tr><td>第二十九條之二第一項、第二項及第三項<p class="text-danger">10000元；超載十公噸以下者，以總超載部分，每1公噸加罰新臺幣1千元；超載逾十公噸至2十公噸以下者，以總超載部分，每1公噸加罰新臺幣2千元；超載逾2十公噸至3十公噸以下者，以總超載部分，每1公噸加罰新臺幣3千元；超載逾3十公噸者，以總超載部分，每1公噸加罰新臺幣5千元。未滿1公噸以1公噸計算。</p></td></tr>
        <tr><th>裝載整體物品有超重、超長、超寬、超高情形或裝載危險物品時，未隨車攜帶臨時通行證，或未依規定路線、時間行駛者。</th></tr>
        <tr><td>第三十條第一項第一款<p class="text-danger">3000~9000</p></td></tr>
        <tr><th>所載貨物滲漏、飛散或氣味惡臭者。</th></tr>
        <tr><td>第三十條第一項第二款<p class="text-danger">3000~9000</p></td></tr>
        <tr><th>貨車運送途中附載作業人員，超過規定人數，或乘坐不依規定者。</th></tr>
        <tr><td>第三十條第一項第三款<p class="text-danger">3000~9000</p></td></tr>
        <tr><th>載運人數超過核定數額者。但公共汽車於尖峰時刻載重未超過核定總重量者，不在此限。</th></tr>
        <tr><td>第三十條第一項第四款<p class="text-danger">3000~9000</p></td></tr>
        <tr><th>小客車前座或貨車駕駛室乘人超過規定人數者</th></tr>
        <tr><td>第三十條第一項第五款<p class="text-danger">3000~9000</p></td></tr>
        <tr><th>車廂以外載客者。</th></tr>
        <tr><td>第三十條第一項第六款<p class="text-danger">3000~9000</p></td></tr>
        <tr><th>載運人客、貨物不穩妥，行駛時顯有危險者。</th></tr>
        <tr><td>第三十條第一項第七款<p class="text-danger">3000~9000</p></td></tr>
        <tr><th>汽車行駛於道路上，其汽車駕駛人或前座乘客未繫安全帶者。</th></tr>
        <tr><td>第三十一條第一項<p class="text-danger">1500</p></td></tr>
        <tr><th>汽車行駛於高速公路上，其汽車駕駛人或前座乘客未繫安全帶者。</th></tr>
        <tr><td>第三十一條第二項<p class="text-danger">3000~6000</p></td></tr>
        <tr><th>小客車附載幼童未依規定安置於安全椅者。</th></tr>
        <tr><td>第三十一條第三項<p class="text-danger">500</p></td></tr>
        <tr><th>汽車駕駛人對於六歲以下或需要特別看護之兒童，單獨留置於車內者。</th></tr>
        <tr><td>第三十一條第四項<p class="text-danger">1000元，並施以4小時道路交通安全講習。</p></td></tr>
        <tr><th>機器腳踏車附載人員或物品未依規定者。</th></tr>
        <tr><td>第三十一條第五項<p class="text-danger">300~600</p></td></tr>
        <tr><th>機器腳踏車駕駛人或附載座人未依規定戴安全帽者。</th></tr>
        <tr><td>第三十一條第六項<p class="text-danger">500</p></td></tr>
        <tr><th>汽車駕駛人於行駛道路時，使用手持式行動電話進行撥接或通話者。</th></tr>
        <tr><td>第三十一條之一第一項<p class="text-danger">3000</p></td></tr>
        <tr><th>機器腳踏車駕駛人行駛於道路時，使用手持式行動電話進行撥接或通話者。</th></tr>
        <tr><td>第三十一條之一第二項<p class="text-danger">1000</p></td></tr>
        <tr><th>非屬汽車範圍而行駛於道路上之動力機械，未請領臨時通行證隨車攜帶，而其駕駛人未具有小型車以上之駕駛執照者。</th></tr>
        <tr><td>第三十二條<p class="text-danger">600~1800</p></td></tr>
        <tr><th>汽車行駛於高速公路或設站管制之道路，而不遵管制之規定者。</th></tr>
        <tr><td>第三十三條<p class="text-danger">3000~6000</p></td></tr>
        <tr><th>汽車駕駛人，連續駕車超過八小時經查屬實，或患病足以影響安全駕駛者。</th></tr>
        <tr><td>第三十四條<p class="text-danger">1200~2400</p></td></tr>
        <tr><th>駕駛人其吐氣所含酒精濃度超過規定標準。</th></tr>
        <tr><td>第三十五條第一項第一款<p class="text-danger">15000~60000</p></td></tr>
        <tr><th>汽車駕駛人，駕駛汽車經測試檢定有吸食毒品、迷幻藥、麻醉藥品及其相類似之管制藥品。</th></tr>
        <tr><td>第三十五條第一項第二款<p class="text-danger">15000~60000</p></td></tr>
        <tr><th>汽車駕駛人經依第三十五條第一項各款規定吊扣駕駛執照，並於吊扣期間再有前項情形者。</th></tr>
        <tr><td>第三十五條第二項<p class="text-danger">60000</p></td></tr>
        <tr><th>汽車駕駛人拒絕接受第三十五條第一項各款測試之檢定者。</th></tr>
        <tr><td>第三十五條第三項<p class="text-danger">60000</p></td></tr>
        <tr><th>營業小客車駕駛人，未向警察機關辦理執業登記，領取登記證，即行執業；或所有人僱用未辦理執業登記之汽車駕駛人駕車者。</th></tr>
        <tr><td>第三十六條第一項<p class="text-danger">1500~3600</p></td></tr>
        <tr><th>營業小客車駕駛人，不依規定期限，辦理執業登記事項之異動申報，或參加年度查驗者。</th></tr>
        <tr><td>第三十六條第二項<p class="text-danger">1200</p></td></tr>
        <tr><th>執業登記證，未依規定安置車內指定之插座或以他物遮蔽者。</th></tr>
        <tr><td>第三十六條第三項<p class="text-danger">1500</p></td></tr>
        <tr><th>營業小客車駕駛人，在執業期中，犯第三十七條第一項所列各罪之一者</th></tr>
        <tr><td>第三十七條第二項<p class="text-danger">吊扣（銷）其營業小客車執業登記證</p></td></tr>
        <tr><th>營業小客車駕駛人，在執業期中，犯竊盜、詐欺、贓物、妨害自由或刑法第二百三十條至第二百三十六條各罪之一者。</th></tr>
        <tr><td>第三十七條第三項<p class="text-danger">吊扣（銷）其營業小客車執業登記證</p></td></tr>
        <tr><th>營業小客車駕駛人，不依規定辦理執業登記，經依第三十六條規定處罰仍不辦理者。</th></tr>
        <tr><td>第三十七條第五項<p class="text-danger">吊銷其駕駛執照</p></td></tr>
        <tr><th>汽車駕駛人，於鐵路、公路車站或其他交通頻繁處所，違規攬客運，妨害交通秩序者。</th></tr>
        <tr><td>第三十八條第一項<p class="text-danger">1500~3000</p></td></tr>
        <tr><th>營業小客車駕駛人，任意拒載乘客或故意繞道行駛者。</th></tr>
        <tr><td>第三十八條第二項<p class="text-danger">600~1200</p></td></tr>
        <tr><th>汽車駕駛人，不在未劃分標線道路之中央右側部分駕車者。</th></tr>
        <tr><td>第三十九條<p class="text-danger">600~1200</p></td></tr>
        <tr><th>駕駛人行車速度，超過規定之最高時速或低於規定之最低時速，或裝用測速雷達感應器者。</th></tr>
        <tr><td>第四十條第一項及第二項<p class="text-danger">1200~2400</p></td></tr>
        <tr><th>汽車駕駛人，按鳴喇叭不依規定，或按鳴喇叭超過規定音量者。</th></tr>
        <tr><td>第四十一條<p class="text-danger">300~600</p></td></tr>
        <tr><th>汽車駕駛人，不依規定使用燈光者。</th></tr>
        <tr><td>第四十二條<p class="text-danger">600~1200</p></td></tr>
        <tr><th>汽車駕駛人在道路上蛇行，或以其他危險方式駕車者。</th></tr>
        <tr><td>第四十三條第一項第一款、第四項及第五項<p class="text-danger">6000~24000 並吊扣該車輛牌照3個月。</p></td></tr>
        <tr><th>汽車駕駛人，駕駛汽車拆除消音器，或以其他方式造成噪音者。</th></tr>
        <tr><td>第四十三條第一項、第二款<p class="text-danger">6000~24000</p></td></tr>
        <tr><th>二輛以上之汽車共同違反第一項規定，或在道路上競駛、競技者。</th></tr>
        <tr><td>第四十三條第三項第四項、及第五項<p class="text-danger">30000~90000 並吊扣該車輛牌照3個月</p></td></tr>
        <tr><th>行近鐵路平交道，不將時速減至十五公里以下者。</th></tr>
        <tr><td>第四十四條第一款<p class="text-danger">600~1800</p></td></tr>
        <tr><th>行近行人穿越道，不減速慢行或行人穿越道有行人穿越時，不暫停讓行人先行通過者。</th></tr>
        <tr><td>第四十四條第二款<p class="text-danger">600~1800</p></td></tr>
        <tr><th>行經彎道、坡路、狹路、狹橋、隧道、無號誌之交岔路口、道路修理地段，不減速慢行者。</th></tr>
        <tr><td>第四十四條第三款<p class="text-danger">600~1800</p></td></tr>
        <tr><th>行近工廠、學校、醫院、車站、會堂、娛樂、展覽、競技等公共場所出、入口，不減速慢行者。</th></tr>
        <tr><td>第四十四條第四款<p class="text-danger">600~1800</p></td></tr>
        <tr><th>行經泥濘或積水道路，不減速慢行，致污濕他人身體、衣物者。</th></tr>
        <tr><td>第四十四條第五款<p class="text-danger">600~1800</p></td></tr>
        <tr><th>因雨、霧視不清或道路上臨時發生障礙，不減速慢行者。</th></tr>
        <tr><td>第四十四條第六款<p class="text-danger">600~1800</p></td></tr>
        <tr><th>在未劃有分向標線之道路，或鐵路平交道，或不良之道路交通會時，不減速慢行者。</th></tr>
        <tr><td>第四十四條第七款<p class="text-danger">600~1800</p></td></tr>
        <tr><th>不按遵行之方向行駛者。</th></tr>
        <tr><td>第四十五條第一款<p class="text-danger">900~1800</p></td></tr>
        <tr><th>在單車道駕車與他車並行者。</th></tr>
        <tr><td>第四十五條第二款<p class="text-danger">900~1800</p></td></tr>
        <tr><th>不依規定駛入來車道者。</th></tr>
        <tr><td>第四十五條第三款<p class="text-danger">900~1800</p></td></tr>
        <tr><th>在多車道不依規定駕車者。</th></tr>
        <tr><td>第四十五條第四款<p class="text-danger">600~1800</p></td></tr>
        <tr><th>插入正在連貫行駛汽車之中間者。</th></tr>
        <tr><td>第四十五條第五款<p class="text-danger">900~1800</p></td></tr>
        <tr><th>駕車行駛人行道者。</th></tr>
        <tr><td>第四十五條第六款<p class="text-danger">600~1800</p></td></tr>
        <tr><th>行至無號誌之圓環路口，不讓已進入圓環之車輛先行者。</th></tr>
        <tr><td>第四十五條第七款<p class="text-danger">600~1800</p></td></tr>
        <tr><th>行經多車道之圓環，不讓內側車道之車輛先行者。</th></tr>
        <tr><td>第四十五條第八款<p class="text-danger">600~1800</p></td></tr>
        <tr><th>支線道車不讓幹線道車先行，或兩線均為幹線道或支線道時，左方車不讓右方車先行者。</th></tr>
        <tr><td>第四十五條第九款<p class="text-danger">600~1800</p></td></tr>
        <tr><th>起駛前，不讓行進中之車輛、行人優先通行者。</th></tr>
        <tr><td>第四十五條第十款<p class="text-danger">600~1800</p></td></tr>
        <tr><th>聞消防車、救護車、警備車、工程救險車之警號，不立即避讓或在後跟隨急駛，或駛過在救火時放置於路上之消防水帶者。</th></tr>
        <tr><td>第四十五條第十一款<p class="text-danger">900~1800</p></td></tr>
        <tr><th>任意駛出邊線，或任意跨越兩條車道行駛者。</th></tr>
        <tr><td>第四十五條第十二款<p class="text-danger">600~1800</p></td></tr>
        <tr><th>機器腳踏車，不在規定車道行駛者。</th></tr>
        <tr><td>第四十五條第十三款<p class="text-danger">600~1800</p></td></tr>
        <tr><th>遇幼童專用車、校車不依規定禮讓，或減速慢行者。</th></tr>
        <tr><td>第四十五條第十四款<p class="text-danger">900~1800</p></td></tr>
        <tr><th>行經無號誌交叉路口及巷道不依規定或標誌、標線指示者。</th></tr>
        <tr><td>第四十五條第十五款<p class="text-danger">600~1800</p></td></tr>
        <tr><th>汽車駕駛人交會時，未保持適當之間隔者。</th></tr>
        <tr><td>第四十六條第一款<p class="text-danger">600~1800</p></td></tr>
        <tr><th>在峻狹坡路，下坡車未讓上坡車先行，或上坡車在坡下未讓己駛至中途之下坡車駛過，而爭先上坡者。</th></tr>
        <tr><td>第四十六條第二款<p class="text-danger">600~1800</p></td></tr>
        <tr><th>在山路行車，靠山壁車輛，未讓道路外緣車優先通過者。</th></tr>
        <tr><td>第四十六條第三款<p class="text-danger">600~1800</p></td></tr>
        <tr><th>駕車行經彎道、陡坡、狹橋、隧道、交岔路口、道路修理地段、市區交通頻繁處所超車者。</th></tr>
        <tr><td>第四十七條第一款<p class="text-danger">1200~2400</p></td></tr>
        <tr><th>在學校、醫院或其他設有禁止超車標誌、標線處所、地段或對面有來車交會或前行車連貫二輛以上超車者。</th></tr>
        <tr><td>第四十七條第二款<p class="text-danger">1200~2400</p></td></tr>
        <tr><th>在前行車之右側超車，或超車時未保持適當之間隔，或未行至安全距離即行駛入原行路線者。</th></tr>
        <tr><td>第四十七條第三款<p class="text-danger">1200~2400</p></td></tr>
        <tr><th>未經前行車表示允讓或靠邊慢行，即行超車者。</th></tr>
        <tr><td>第四十七條第四款<p class="text-danger">1200~2400</p></td></tr>
        <tr><th>前行車聞後行車按鳴喇叭或見後行車顯示超車燈光，如車前路況無障礙，無正當理由，不表示允讓或靠邊慢行。</th></tr>
        <tr><td>第四十七條第五款<p class="text-danger">1200~2400</p></td></tr>
        <tr><th>在轉彎或變換車道前，未使用方向燈或不注意來、往行人或轉彎前未減速慢行者。</th></tr>
        <tr><td>第四十八條第一款<p class="text-danger">900~1800</p></td></tr>
        <tr><th>不依標誌、標線、號誌指示者。</th></tr>
        <tr><td>第四十八條第二款<p class="text-danger">600~1800</p></td></tr>
        <tr><th>行經交岔路口未達中心處，佔用來車道搶先左轉彎者。</th></tr>
        <tr><td>第四十八條第三款<p class="text-danger">600~1800</p></td></tr>
        <tr><th>在多車道右轉彎，不先駛入外側車道，或多車道左轉彎，不先駛入內側車道者。</th></tr>
        <tr><td>第四十八條第四款<p class="text-danger">600~1800</p></td></tr>
        <tr><th>四車道以上道路，設有劃分島，劃分快、慢車道，在慢車道上左轉彎者。</th></tr>
        <tr><td>第四十八條第五款<p class="text-danger">600~1800</p></td></tr>
        <tr><th>轉彎車不讓直行車先行，或直行車尚未進入交岔路口，而轉彎車已達中心處開始轉彎，直行車不讓轉彎車先行者。</th></tr>
        <tr><td>第四十八條第六款<p class="text-danger">900~1800</p></td></tr>
        <tr><th>設有左、右轉彎專用車道之交岔路口，直行車佔用最內側或最外側或專用車道者。</th></tr>
        <tr><td>第四十八條第七款<p class="text-danger">600~1800</p></td></tr>
        <tr><th>在彎道、坡路、狹路、橋樑、隧道迴車者。</th></tr>
        <tr><td>第四十九條第一款<p class="text-danger">900~1800</p></td></tr>
        <tr><th>在設有禁止迴車標誌或劃有分向限制線、禁止超車線或禁止變換車道線之路段迴車者。</th></tr>
        <tr><td>第四十九條第二款<p class="text-danger">900~1800</p></td></tr>
        <tr><th>在禁止左轉路段迴車者。</th></tr>
        <tr><td>第四十九條第三款<p class="text-danger">900~1800</p></td></tr>
        <tr><th>行經圓環路口，不繞行圓環迴車者。</th></tr>
        <tr><td>第四十九條第四款<p class="text-danger">900~1800</p></td></tr>
        <tr><th>迴車前，未依規定暫停，顯示左轉燈光，或不注意來、往車輛行人，仍擅自迴轉者。</th></tr>
        <tr><td>第四十九條第五款<p class="text-danger">600~1800</p></td></tr>
        <tr><th>不依規定在彎道、狹路、陡坡、橋樑、隧道、圓環、單行道、快車道等危險地帶或交通頻繁處所倒車者。</th></tr>
        <tr><td>第五十條第一款<p class="text-danger">600~1200</p></td></tr>
        <tr><th>倒車前未顯示倒車燈光，或倒車時不注意其他車輛或行人者。</th></tr>
        <tr><td>第五十條第二款<p class="text-danger">600~1200</p></td></tr>
        <tr><th>大型汽車無人在後指引時，不先測明車後有足夠之地位，或促使行人避讓者。</th></tr>
        <tr><td>第五十條第三款<p class="text-danger">600~1200</p></td></tr>
        <tr><th>汽車駕駛人，駕車行經坡道，上坡時蛇行前進，或下坡時將引擎熄火、空檔滑行者。</th></tr>
        <tr><td>第五十一條<p class="text-danger">600~1200</p></td></tr>
        <tr><th>汽車駕駛人，駕車行經渡口不依規定者。</th></tr>
        <tr><td>第五十二條<p class="text-danger">600~1200</p></td></tr>
        <tr><th>駕駛人，行經有燈光號誌管制之交岔路口闖紅燈者。</th></tr>
        <tr><td>第五十三條<p class="text-danger">1800~5400</p></td></tr>
        <tr><th>不遵守看守人員之指示，或遮斷器開始放下，或警鈴已響、閃光號誌已顯示，仍強行闖越者。</th></tr>
        <tr><td>第五十四條第一款<p class="text-danger">6000~12000</p></td></tr>
        <tr><th>在無看守人員管理或無遮斷器、警鈴及閃光號誌設備之鐵路平交道，設有警告標誌或跳動路面，不依規定暫停，逕行通過者。</th></tr>
        <tr><td>第五十四條第二款<p class="text-danger">6000~12000</p></td></tr>
        <tr><th>在鐵路平交道超車、迴車、倒車、臨時停車或停車者。</th></tr>
        <tr><td>第五十四條第三款<p class="text-danger">6000~12000</p></td></tr>
        <tr><th>在橋樑、隧道、圓環、障礙物對面、人行道、行人穿越道、快車道臨時停車者。</th></tr>
        <tr><td>第五十五條第一款<p class="text-danger">300~600</p></td></tr>
        <tr><th>在交岔路口、公共汽車招呼站十公尺內或消防車出、入口五公尺內臨時停車者。</th></tr>
        <tr><td>第五十五條第二款<p class="text-danger">300~600</p></td></tr>
        <tr><th>在設有禁止臨時停車標誌、標線處所臨時停車者。</th></tr>
        <tr><td>第五十五條第三款<p class="text-danger">300~600</p></td></tr>
        <tr><th>不依順行之方向，或不緊靠道路右側，或單行道不緊靠路邊臨時停車者。</th></tr>
        <tr><td>第五十五條第四款<p class="text-danger">300~600</p></td></tr>
        <tr><th>併排臨時停車者。</th></tr>
        <tr><td>第五十五條第四款<p class="text-danger">500~600</p></td></tr>
        <tr><th>在道路交通標誌前臨時停車，遮蔽標誌者。</th></tr>
        <tr><td>第五十五條第五款<p class="text-danger">300~600</p></td></tr>
        <tr><th>在道路交通標誌前臨時停車，遮蔽標誌者。</th></tr>
        <tr><td>第五十五條第五款<p class="text-danger">300~600</p></td></tr>
        <tr><th>在道路交通標誌前臨時停車，遮蔽標誌者。</th></tr>
        <tr><td>第五十五條第五款<p class="text-danger">300~600</p></td></tr>
        <tr><th>在禁止臨時停車處所停車者。</th></tr>
        <tr><td>第五十六條第一項第一款<p class="text-danger">600~1200</p></td></tr>
        <tr><th>在彎道、陡坡、狹路或道路修理地段停車者。</th></tr>
        <tr><td>第五十六條第一項第二款<p class="text-danger">600~1200</p></td></tr>
        <tr><th>在機場、車站、碼頭、學校、娛樂、展覽、競技、市場或其他公共場所出、入口或消防栓之前停車者。</th></tr>
        <tr><td>第五十六條第一項第三款<p class="text-danger">600~1200</p></td></tr>
        <tr><th>在設有禁止停車標誌、標線之處所停車者。</th></tr>
        <tr><td>第五十六條第一項第四款<p class="text-danger">600~1200</p></td></tr>
        <tr><th>在顯有妨礙他車通行處所停車者。</th></tr>
        <tr><td>第五十六條第一項第五款<p class="text-danger">600~1200</p></td></tr>
        <tr><th>不依順行方向，或不緊靠道路右側，或單行道不緊靠路邊停車者。</th></tr>
        <tr><td>第五十六條第一項六款<p class="text-danger">600~1200</p></td></tr>
        <tr><th>併排停車者。</th></tr>
        <tr><td>第五十六條第一項第六款<p class="text-danger">600~1200</p></td></tr>
        <tr><th>於路邊劃有停放車輛線之處所停車營業者。</th></tr>
        <tr><td>第五十六條第一項第七款<p class="text-danger">600~1200</p></td></tr>
        <tr><th>自用汽車在營業汽車招呼站停車者。</th></tr>
        <tr><td>第五十六條第一項第八款<p class="text-danger">600~1200</p></td></tr>
        <tr><th>停車時間、位置、方式、車種不依規定者。</th></tr>
        <tr><td>第五十六條第一項第九款<p class="text-danger">600~1200</p></td></tr>
        <tr><th>於身心障礙專用停車位違規停車者。</th></tr>
        <tr><td>第五十六條第一項第十款<p class="text-danger">1200</p></td></tr>
        <tr><th>在道路收費停車處所停車，不依規定繳費者。</th></tr>
        <tr><td>第五十六條第一項第十一款<p class="text-danger">600~1200</p></td></tr>
        <tr><th>對違規停車實施移置保管作業者</th></tr>
        <tr><td>第五十六條第一項第一款至第十一款及第二項<p class="text-danger">600~1200</p></td></tr>
        <tr><th>汽車買賣業或汽車修理業，在道路上停放待售或承修之車輛者。</th></tr>
        <tr><td>第五十七條第一項<p class="text-danger">2400~4800</p></td></tr>
        <tr><th>不依規定保持前、後車距離者。</th></tr>
        <tr><td>第五十八條第一款<p class="text-danger">600~1200</p></td></tr>
        <tr><th>行至有號誌之交岔路口，遇紅燈不依車道連貫暫停而逕行插入車道間，致交通擁塞，妨礙其他車輛通行者。</th></tr>
        <tr><td>第五十八條第二款<p class="text-danger">600~1200</p></td></tr>
        <tr><th>行至有號誌之交岔路口，遇有前行或轉彎之車道交通擁塞而逕行駛入交岔路口內，致號誌轉換後仍未能通過，妨礙其他車輛通行者。</th></tr>
        <tr><td>第五十八條第三款<p class="text-danger">900~1200</p></td></tr>
        <tr><th>汽車駕駛人，駕駛汽車發生故障不能行駛，不設法移置於無礙交通之處，或於移置前，未依規定在車輛前、後適當地點樹立車輛故障標誌或事後不除去者。</th></tr>
        <tr><td>第五十九條<p class="text-danger">1500~3000</p></td></tr>
        <tr><th>汽車駕駛人，駕駛汽車有違反本條例之行為，經交通勤務警察或依法令執行交通稽查任務人員制止時，不聽制止或拒絕停車接受稽查而逃逸者。</th></tr>
        <tr><td>第六十條第一項<p class="text-danger">3000~6000</p></td></tr>
        <tr><th>不服從交通勤務警察或依法令執行交通指揮、稽查任務人員之指揮或稽查者。</th></tr>
        <tr><td>第六十條第二項第一款<p class="text-danger">900~1800</p></td></tr>
        <tr><th>不遵守公路或警察機關，依第五條規定所發布命令者。</th></tr>
        <tr><td>第六十條第二項第二款<p class="text-danger">900~1800</p></td></tr>
        <tr><th>不遵守道路交通標誌、標線、號誌之指示者。</th></tr>
        <tr><td>第六十條第二項第三款<p class="text-danger">900~1800</p></td></tr>
        <tr><th>計程車之停車上客，不遵守主管機關之規定者。</th></tr>
        <tr><td>第六十條第二項第四款<p class="text-danger">900~1800</p></td></tr>
        <tr><th>利用汽車犯罪，經判決有期徒刑以上之刑確定者。</th></tr>
        <tr><td>第六十一條第一項第一款<p class="text-danger">吊銷其駕駛執照</p></td></tr>
        <tr><th>抗拒執行交通勤務之警察或依法令執行交通稽查人員之稽查，因而引起傷害或死亡者。</th></tr>
        <tr><td>第六十一條第一項第二款及第二項<p class="text-danger">30000~60000 吊銷其駕駛執照</p></td></tr>
        <tr><th>撞傷正執行交通勤務中之警察者。</th></tr>
        <tr><td>第六十一條第一項第三款及第二項<p class="text-danger">30000~60000 吊銷其駕駛執照</p></td></tr>
        <tr><th>違反道路交通安全規則，因而肇事致人死亡者。</th></tr>
        <tr><td>第六十一條第一項第四款<p class="text-danger">吊銷其駕駛執照</p></td></tr>
        <tr><th>汽車駕駛人，駕駛汽車違反道路交通安全規則，因而肇事致人受傷者。</th></tr>
        <tr><td>第六十一條第三項<p class="text-danger">吊扣其駕駛執照3個月至6個月</p></td></tr>
        <tr><th>汽車駕駛人，駕駛汽車肇事致人受傷或死亡，未即採取救護或其他必要措施，或未向警察機關報告或駛離者。</th></tr>
        <tr><td>第六十二條第一項（前段）<p class="text-danger">吊扣其駕駛執照3個月至6個月</p></td></tr>
        <tr><th>汽車駕駛人，駕駛汽車肇事致人受傷或死亡逃逸者。</th></tr>
        <tr><td>第六十二條第一項（後段）<p class="text-danger">吊銷駕駛執照</p></td></tr>
        <tr><th>汽車駕駛人駕駛汽車肇事，無人受傷或死亡且車輛尚能行駛，而不儘速將車輛位置標繪移置路邊，致妨礙交通者。</th></tr>
        <tr><td>第六十二條第二項<p class="text-danger">600~1800</p></td></tr>
        <tr><th>汽車駕駛人肇事時，如汽車所有人同車，不命駕駛人停車處理者。</th></tr>
        <tr><td>第六十二條第三項<p class="text-danger">吊扣所駕駛車輛牌照6個月至1年</p></td></tr>
        <tr><th>慢車未依規定登記領取證照行駛者。</th></tr>
        <tr><td>第六十九條<p class="text-danger">300</p></td></tr>
        <tr><th>慢車經依規定淘汰並公告禁止行駛後仍行駛者。</th></tr>
        <tr><td>第七十條<p class="text-danger">沒入銷毀</p></td></tr>
        <tr><th>慢車證照未隨身攜帶者。</th></tr>
        <tr><td>第七十一條<p class="text-danger">180</p></td></tr>
        <tr><th>慢車未經核准擅自變更裝置或不依規定保持煞車、鈴號、燈光及反光裝置等安全設備之良好與完整者。</th></tr>
        <tr><td>第七十二條<p class="text-danger">180</p></td></tr>
        <tr><th>慢車不在劃設之慢車道通行或無正當理由在未劃設慢車道之道路不靠右側路邊行駛者。</th></tr>
        <tr><td>第七十三條第一款<p class="text-danger">180元或施1至2小時道路交通安全講習</p></td></tr>
        <tr><th>慢車不在規定地區路邊或時間內行駛者。</th></tr>
        <tr><td>第七十三條第二款<p class="text-danger">180元或施1至2小時道路交通安全講習</p></td></tr>
        <tr><th>慢車不依規定轉彎、超車、停車或通過交岔路口者。</th></tr>
        <tr><td>第七十三條第三款<p class="text-danger">180元或施1至2小時道路交通安全講習</p></td></tr>
        <tr><th>慢車在道路上爭先、爭道或其他危險方式駕車者。</th></tr>
        <tr><td>第七十三條第四款<p class="text-danger">180元或施1至2小時道路交通安全講習</p></td></tr>
        <tr><th>慢車在夜間行車未燃亮燈光者。</th></tr>
        <tr><td>第七十三條第五款<p class="text-danger">180元或施1至2小時道路交通安全講習</p></td></tr>
        <tr><th>慢車駕駛人不服從執行交通勤務警察指揮或不依標誌、標線、號誌之指示者。</th></tr>
        <tr><td>第七十四條第一款<p class="text-danger">300~600元或施1至2小時道路交通安全講習</p></td></tr>
        <tr><th>慢車在同一慢車道上不按遵行之方向行駛者。</th></tr>
        <tr><td>第七十四條第二款<p class="text-danger">300~600元或施1至2小時道路交通安全講習</p></td></tr>
        <tr><th>慢車不依規定擅自穿越快車道者。</th></tr>
        <tr><td>第七十四條第三款<p class="text-danger">300~600元或施1至2小時道路交通安全講習</p></td></tr>
        <tr><th>慢車駕駛人不依規定停放車輛者。</th></tr>
        <tr><td>第七十四條第四款<p class="text-danger">300~600元或施1至2小時道路交通安全講習</p></td></tr>
        <tr><th>慢車在人行道或快車道行駛者。</th></tr>
        <tr><td>第七十四條第五款<p class="text-danger">300~600元或施1至2小時道路交通安全講習</p></td></tr>
        <tr><th>慢車駕駛人聞消防車、警備車、救護車或工程救險車警號不立即避讓者。</th></tr>
        <tr><td>第七十四條第六款<p class="text-danger">300~600元或施1至2小時道路交通安全講習</p></td></tr>
        <tr><th>慢車駕駛人，駕車在鐵路平交道有第五十四條各款情形者。</th></tr>
        <tr><td>第七十五條<p class="text-danger">1200~2400</p></td></tr>
        <tr><th>慢車乘坐人數超過規定數額者。</th></tr>
        <tr><td>第七十六條第一款<p class="text-danger">300~600</p></td></tr>
        <tr><th>慢車裝載貨物超過規定重量或超出車身一定限制者。</th></tr>
        <tr><td>第七十六條第二款<p class="text-danger">300~600</p></td></tr>
        <tr><th>慢車裝載容易滲漏、飛散、有惡臭氣味及危險性貨物不嚴密封固或不為適當之裝置者。</th></tr>
        <tr><td>第七十六條第三款<p class="text-danger">300~600</p></td></tr>
        <tr><th>慢車裝載禽、畜重疊或倒置者。</th></tr>
        <tr><td>第七十六條第四款<p class="text-danger">300~600</p></td></tr>
        <tr><th>慢車裝載貨物不捆紮結實者。</th></tr>
        <tr><td>第七十六條第五款<p class="text-danger">300~600</p></td></tr>
        <tr><th>慢車上、下乘客或裝卸貨物不緊靠路邊妨礙交通者。</th></tr>
        <tr><td>第七十六條第六款<p class="text-danger">300~600</p></td></tr>
        <tr><th>慢車牽引其他車輛或攀附汽車隨行者。</th></tr>
        <tr><td>第七十六條第七款<p class="text-danger">300~600</p></td></tr>
        <tr><th>行人不依標誌、標線、號誌之指示或警察指揮者。</th></tr>
        <tr><td>第七十八條第一款<p class="text-danger">360元或施1至2小時道路交通安全講習</p></td></tr>
        <tr><th>行人不在劃設之人行道通行或無正當理由在未劃設人行道之道路不靠邊通行者。</th></tr>
        <tr><td>第七十八條第二款<p class="text-danger">360元或施1至2小時道路交通安全講習</p></td></tr>
        <tr><th>行人不依規定擅自穿越車道者。</th></tr>
        <tr><td>第七十八條第三款<p class="text-danger">360元或施1至2小時道路交通安全講習</p></td></tr>
        <tr><th>行人於交通頻繁之道路或鐵路平交道附近任意奔跑、追逐、嬉遊或坐、臥、蹲、立，足以阻礙交通者。</th></tr>
        <tr><td>第七十八條第四款<p class="text-danger">360元或施1至2小時道路交通安全講習</p></td></tr>
        <tr><th>行人不遵守鐵路平交道看守人員指示，或遮斷器開始放下，或警鈴已響、閃光號誌已顯示，仍強行闖越者。</th></tr>
        <tr><td>第八十條第一款<p class="text-danger">1200</p></td></tr>
        <tr><th>行人在無看守人員管理或無遮斷器、警鈴及閃光號誌設備之鐵路平交道，不依規定暫停、看、聽，有無火車駛來逕行通過者。</th></tr>
        <tr><td>第八十條第二款<p class="text-danger">1200</p></td></tr>
        <tr><th>行人在車輛行駛中，攀登、跳車或攀附隨行者。</th></tr>
        <tr><td>第八十一條<p class="text-danger">500</p></td></tr>
        <tr><th>於鐵路、公路車站或其他交通頻繁處所，違規攬客或妨害交通秩序者。</th></tr>
        <tr><td>第八十一條之一<p class="text-danger">1500~3000</p></td></tr>
        <tr><th>在道路堆積、放置或拋擲足以防礙交通之物者。</th></tr>
        <tr><td>第八十二條第一項第一款及第二項<p class="text-danger">1200~2400</p></td></tr>
        <tr><th>在道路兩旁附近燃燒物品，發生濃煙，足以妨礙行車視線者。</th></tr>
        <tr><td>第八十二條第一項第二款<p class="text-danger">1200~2400</p></td></tr>
        <tr><th>利用道路為工作場所者。</th></tr>
        <tr><td>第八十二條第一項第三款<p class="text-danger">1200~2400</p></td></tr>
        <tr><th>利用道路放置拖車、貨櫃或動力機械者。</th></tr>
        <tr><td>第八十二條第一項第四款<p class="text-danger">2400</p></td></tr>
        <tr><th>興修房屋使用道路未經許可，或經許可超出限制者。</th></tr>
        <tr><td>第八十二條第一項第五款<p class="text-danger">1200~2400</p></td></tr>
        <tr><th>經主管機關許可挖掘道路而不樹立警告標誌，或於事後未將障礙物清除者。</th></tr>
        <tr><td>第八十二條第一項第六款<p class="text-danger">2400</p></td></tr>
        <tr><th>擅自設置或變更道路交通標誌、標線、號誌或其類似之標識者。</th></tr>
        <tr><td>第八十二條第一項第七款<p class="text-danger">1200~2400</p></td></tr>
        <tr><th>未經許可在道路設置石碑、廣告牌、綵坊或其他類似物者。</th></tr>
        <tr><td>第八十二條第一項第八款及第二項<p class="text-danger">1200~2400</p></td></tr>
        <tr><th>未經許可在道路舉行賽會或擺設筵席、演戲、拍攝電影或其他類似行為者。</th></tr>
        <tr><td>第八十二條第一項第九款<p class="text-danger">1200~2400</p></td></tr>
        <tr><th>在公告禁止設攤之處擺設攤位者。</th></tr>
        <tr><td>第八十二條第一項第十款及第二項<p class="text-danger">1200~2400</p></td></tr>
        <tr><th>行為人在高速公路或高速公路兩旁，有八十二 條第一項第一款、第二款情事者。</th></tr>
        <tr><td>第八十二條第三項<p class="text-danger">3000~6000</p></td></tr>
        <tr><th>未經許可在道路曝曬物品者。</th></tr>
        <tr><td>第八十三條第一款<p class="text-danger">300~600</p></td></tr>
        <tr><th>未經許可在道路擺設攤位者。</th></tr>
        <tr><td>第八十三條第二款<p class="text-danger">300~600</p></td></tr>
        <tr><th>在車道上、車站內、高速公路服務區休息站，任意販賣物品妨礙交通者。</th></tr>
        <tr><td>第八十三條第三款<p class="text-danger">300~600</p></td></tr>
        <tr><th>疏縱或牽繫禽、畜在道路奔走，妨害交通者。</th></tr>
        <tr><td>第八十四條<p class="text-danger">180</p></td></tr>
        <tr><th>慢車駕駛人、行人不依規定接受道路交通安全講習者。</th></tr>
        <tr><td>第九十條之一<p class="text-danger">600~1200</p></td></tr>
    </table>
</div>
