body {
    text-align: center;
}

h1 {
    text-align: left;
}

h1:before {
    content: "";
    display: inline-block;
    border-top: 15px solid #FFF;
    border-left: 15px solid #0080C1;
    border-bottom: 15px solid #FFF;
    vertical-align: middle;
    margin-right: 0.6em;
}

div.row {
    margin-top: 6px;
    margin-bottom: 6px;
}

table {
    text-align: left;
    margin: 100px;
}

tr.answers {
    margin-bottom: 600px;
}
